<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RSS Feed App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <!-- Header with burger menu -->
    <header>
        <div class="burger-icon" id="burger-icon">
            <div class="burger-line"></div>
            <div class="burger-line"></div>
            <div class="burger-line"></div>
        </div>
        <div class="site-name">
            <a href="/">
                RSS Feed
            </a>
        </div>
    </header>
    
    <!-- Side navigation -->
    <nav class="side-nav" id="side-nav">
        <a href="/news/feed/1" class="nav-item">Home</a>
        <a href="/news/feed/2" class="nav-item">News Feed 2</a>
        <a href="/news/feed/3" class="nav-item">News Feed 3</a>
        <a href="/news/feed/4" class="nav-item">News Feed 4</a>
        <a href="/news/feed/5" class="nav-item">News Feed 5</a>
        <a href="/news/feed/6" class="nav-item">News Feed 6</a>
        <a href="/news/feed/7" class="nav-item">News Feed 7</a>
        <a href="/news/feed/8" class="nav-item">News Feed 8</a>
    </nav>
    
    <!-- Overlay when sidenav is open -->
    <div class="overlay" id="overlay"></div>
    
    <!-- Main content -->
    <div class="main-content" id="main-content">
        {%if data %}
        <div class="feed-container" id="feed-container">

                 {%for news in data%}
                    <div class="news-card">
                        <div class="news-image-container">
                            <img src="{{news.image_url}}" alt="News Image" class="news-image" onerror="this.onerror=null;this.src='{{url_for('static', filename='newspaper.png')}}';">
                        </div>
                        <div class="news-card-content">
                            <h3 class="news-headline">
                                {{news.title}}
                            </h3>
                            <p class="news-summary">                               
                                {{ news.summary }}
                            </p>
                            <a class="news-domain" href="{{news.source_url}}">{{news.source_name}}</a>
                        </div>
                    </div>
                 {%endfor%}
        </div>
                
        {%endif%}
            
        
        </div>
    
    <script src="{{url_for('static', filename='main.js')}}"></script>
</body>
</html>